#experience {
  padding: 80px 15px;

  .large-title {
    color: #c6e4ff;
    font-size: 4.7rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .experience-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .large-icons {
      .square {
        border: 30px solid #52b8ff;
        padding: 5px;
        display: inline-block;
        position: relative;
        top: -100px;

        .blue-box {
          width: 150px;
          height: 150px;
          padding: 5px;
          background: #52b8ff;
          color: $white;
          text-transform: uppercase;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 3.5px;
        }
      }

      .circle {
        border: 30px solid #ffc853;
        padding: 5px;
        display: inline-block;
        top: -100px;
        border-radius: 50%;
        position: relative;
        top: 95px;
        left: 50px;

        .white-box {
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 3.5px;
          color: #ffc853;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 140px;
          width: 140px;
        }
      }

      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 150px 230px 150px;
        border-color: transparent transparent #ff5253 transparent;
        position: relative;

        .triangle-box {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 93.75px 151.75px 93.75px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          left: -94px;
          top: 49px;
          font-weight: 700;
          font-size: 1.1rem;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #ff5253;

          .text {
            position: relative;
            top: 98px;
            left: -29px;
          }
        }
      }
    }

    .info {
      padding: 80px 0 0;

      .info-box {
        padding: 15px;

        h4 {
          color: #16171c;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 600;
        }

        .date {
          color: #52b7ff;
          text-transform: capitalize;
          font-size: .8rem;
          letter-spacing: 1px;
          padding: 15px 0;
          display: block;
        }

        p {
          color: #b2b2b4;
          text-transform: capitalize;
          font-size: 1rem;
          line-height: 1.8;
        }
      }
    }
  }
}
