#skills {
  padding: 80px 15px;

  .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;

    // .circle {
    //   // background: #eef9ff;
    //   background: $blue;
    //   width: 150px;
    //   height: 150px;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: 80px;
    // }

    h1 {
      position: relative;
      text-transform: capitalize;
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
      font-weight: 600;
      color: $black;
      z-index: 1;
      text-align: center;
      // margin-top: 49px;
      // left: -27px;
      border-bottom: 1px solid #e6e9ed;
      padding-bottom: 6px;
    }
  }

  .skills-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    .box {
      background: rgba(255, 255, 255, 0);
      transition: all 0.4s ease-in-out;
      padding: 40px;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid $yellow;
      }

      .fab {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .languages {
        display: flex;

        h5 {
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      h5 {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1.5rem;
      }

      p {
        color: $grey;
        line-height: 1.5;
        font-size: 1rem;
      }
    }

    .box-1 {
      border-bottom: 2px solid $raspy;
    }
    .box-2 {
      border-bottom: 2px solid $radish;
    }
    .box-3 {
      border-bottom: 2px solid $purple;
    }
  }
}

@media only screen and (max-width: 960px) {
  .container {
    #skills {
      .skills-container {
        grid-gap: 15px;
        grid-template-columns: 100%;

        .box {
          -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 100%;

    #skills {
      .skills-container {
        .box {
          -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
