#top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0;
  align-items: center;

  .info {
    padding: 15px;
    position: relative;

    h1,
    p,
    a {
      position: relative;
      z-index: 1;
    }

    .square {
      // border: 20px solid $blue;
      border: 20px solid $white;
      border-radius: 3px;
      width: 500px;
      height: 500px;
      position: absolute;
      z-index: 0;
      top: -60%;
      left: -40%;
      -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-transform: capitalize;
      font-size: 2rem;
      letter-spacing: 0.4rem;
      font-weight: 600;
      color: $black;
      margin-bottom: 2rem;
    }

    p {
      color: $grey;
      margin-bottom: 4rem;
    }

    a {
      text-decoration: none;
      color: $black;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1rem;
      padding-bottom: 5px;
      border-bottom: 2px solid #333;
      transition: all 0.2s ease-in-out;
      letter-spacing: 1px;

      &:hover {
        border-bottom: 2px solid $yellow;
      }
    }
  }
  .img {
    .background-img {
      background: url("https://source.unsplash.com/800x600/?ocean");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 500px;
      height: 800px;
    }
  }
}
