#top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0;
  height: 100vh;
  align-items: center;

  .info {
    padding: 15px;
    position: relative;

    h1,
    p,
    a {
      position: relative;
      z-index: 1;
    }

    .square {
      border: 20px solid $white;
      border-radius: 3px;
      width: 500px;
      height: 500px;
      position: absolute;
      z-index: 0;
      top: -60%;
      left: -40%;
      -webkit-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-transform: capitalize;
      font-size: 2rem;
      letter-spacing: 0.4rem;
      font-weight: 600;
      color: $black;
      margin-bottom: 2rem;
    }

    p {
      color: $grey;
      margin-bottom: 4rem;
    }

    .hire {
      text-decoration: none;
      font-size: 11px;
      text-transform: uppercase;
      color: #fff;
      background-color: #4a89dc;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 6px 10px 5px;
      border-radius: 2px;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $yellow;
      }
    }
  }
  .about {
    max-width: 500px;
    margin: 0 auto;

    .title {
      margin-top: 2rem;
      display: block;
      color: $grey;
      margin-bottom: 2rem;
    }

    p {
      font-size: 20px;
      line-height: 2em;
    }
  }
}

@media only screen and (max-width: 960px) {
  #top {
    .about {
      .title {
        text-align: center;
      }

      p {
        font-size: 15px;
        line-height: 2rem;
        padding: 0 15px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 0 80px;

    .info {
      text-align: center;
      .square {
        display: none;
      }
    }

    .about {
      .title {
        text-align: center;
      }
    }

    .img {
      .background-img {
        height: 100vh;
      }
    }
  }
}
